.card {
  padding: 12px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 12px;
}

.name {
  flex: 1;
  font-weight: bold;
}

.cnt {
  display: flex;
  padding-top: 12px;
}

.price {
  flex: 1;
  font-size: 18px;
}

.button {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.icon path {
  fill: #494040;
}
