.card {
  margin: 12px;
  padding: 12px;
  width: 400px;
  height: 200px;
  vertical-align: top;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 12px;
  display: inline-block;
}

.label {
  margin: 12px;
  padding: 10px;
  width: 100px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 12px;
}
