.container {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  min-width: 300px;
  background-color: rgb(245, 245, 230);
  border: 1px solid #ccc;
  border-radius: 12px;
}